body{
    width: 100%;
    height: 100%;
}

.clock-div{
    display: flex;
    justify-content: center;
}

.Login-form-div{
    display: flex;
    justify-content: center;

}

#Login-input{
    border:0;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#Introduce-div{
 
    width: 35%;
}

#todo-div{
    width: 15%;
    border-radius: 15px;
    background-color: rgb(52, 73, 94);
    text-align: center;
    opacity: 0.8;
}

#todo-div li{
    list-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    clear:both;
    float:left;
}



#todo-div span{
    margin-right: 15px;
    font-weight: 800;
    font-style: italic;
    color: white;
    
}

#todo-div button{
    background-color: transparent;
    border : none;
}

#Introduce{
    display: flex;
    justify-content: center;
    font-size: 70px;
}

#todo-form{
    display: flex;
    justify-content: center;
}

#todo-form input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: rgb(233, 233, 233);
    text-align: center;
    opacity: 0.8;
}

#todo-form input:hover{
    background:rgb(220, 251, 225);
}

.clock-div h2{
    font-size: 70px;
}

.hidden{
    display: none;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
}

#quote{
    position: absolute;
    bottom: 0;
    padding : 25px;
}

#quote span{
    font-size: 25px;
}

#weather{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#weather span:first-child{
    
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

#weather span:last-child{
    font-size: 45px;
    font-weight:700;
}